@media only screen and (max-width : 1920px) {}

@media only screen and (max-width : 1680px) {}

@media only screen and (max-width : 1536px) {}

@media only screen and (max-width : 1440px) {}

@media only screen and (max-width : 1366px) {}

@media only screen and (max-width : 1280px) {

  .thumbnail-title{font-size:22px;}
  .main-col-heading{padding:0 30px;}  
}

@media only screen and (max-width : 1200px){}

@media only screen and (max-width : 1199px){

  .about-author {
      padding-left: 30px;
      padding-right: 30px;
  }

}

@media (max-width: 1080px) {}

@media (max-width: 993px) {}

@media only screen and (max-width: 768px){

  .thumbnail-title {font-size: 18px;}
  .main-col-heading{padding: 0px;}
  .title{padding: 0px;font-size:45px;}
  .tag{font-size: 40px;}

  .article{padding:15px;}
  .article-text-wrapper p{font-size:15px;line-height:normal;}

}

@media only screen and (max-width: 767px){

  body{height:inherit !important;}

  .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span{height: 0;}

  .custom-col{display: none;}
  .custom-col-mob{display: block;}

  .img-bg{height:100%;justify-content: flex-start;}

  .main-col-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;margin-left: 20px;}

  .tag-line {text-align: justify;margin-left: 25px;}

  .title{margin-top:30px;margin-bottom:30px;font-size:30px;}

  .custom-col-mob{padding:0px;}

  .container-fluid{height: initial !important;}

  .scrollable-col {flex: none;}

  .menu-text{display: flex;align-items: center;align-items: baseline;font-size:19px;}

  .thumbnail-title {font-size: 25px;}

  .article {padding: 40px;}
  .article-text-wrapper p{margin-top:10px;}

  .footer-mob{display:block;background: black;position:relative;}

  .about-author{padding-left:0px;padding-right:0px;}

  .author-container {display: flex;align-items: center; gap: 20px; }

  .author-image {margin: 0px;}

  .name {font-size: 24px;margin-top:0px;text-align: left;}

  .about-text {font-size: 16px;text-align: left;margin-bottom: 0px;}

  .article-info-wrapper{display: block;}
  .author-social-links{align-items: flex-start !important;}

  .subscribe-input-div{display:block !important;}
  .sub-btn{padding: 0px 40px;}

}

@media only screen and (max-width : 590px){

  .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list{margin-top:100px;}
  .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element{height:12%;}
  .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span{font-size:3em;}
  .container-fluid{flex: initial !important;}

}

@media only screen and (max-width: 480px){

  .thumbnail-title {font-size: 20px;}

  .sub-btn{
    width: 100%;
    padding: 10px;
    border-radius: 0;
    margin-top: 10px;
  }

  .subscribe-input-div .input-group{display: block;}

  .subscribe-input-div .input-group input{width:100%;}

}

@media only screen and (max-width: 425px){

  .title{font-size:22px;}
  .tag-line{margin-left:15px;}
  .article-info-text{padding: 4px 2px;}

  .article{padding: 40px 10px;}

}

@media only screen and (max-width: 400px){
  .main-col-heading{flex-direction: column;}
  .title{line-height: normal;margin-bottom: 0px;}
  .tag-line{margin-left: inherit !important;margin: 10px 0px;}
 
}


@media only screen and (max-width : 390px){}
@media only screen and (max-width : 360px){}
@media only screen and (max-width : 320px){}
