@media only screen and (max-width : 1250px) {

  header{ 
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
  }

  .hamburger{position:initial;}

  .thumbnail-title{font-size:22px;}
  
  .main-col-heading{padding:0 30px;}  
}


@media only screen and (max-width: 768px){

  .thumbnail-title {font-size: 18px;}
  .main-col-heading{padding: 0px;}
  .title{padding: 0px;font-size:45px;}
  .tag{font-size: 40px;}

  .article{padding:15px;}
  .article-text-wrapper p{font-size:15px;line-height:normal;}

  
  
}

@media only screen and (max-width: 767px){

  .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span{height: 0;}

  .custom-col{display: none;}
  .custom-col-mob{display: block;}

  .img-bg{height:100%;justify-content: flex-start;}

  .main-col-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }

  .tag-line {
    text-align: justify;
    margin-left: 25px;
  }

  .title{margin-top:30px;margin-bottom:30px;font-size:30px;}

  .custom-col-mob{padding:0px;}

  .container-fluid{height: initial !important;}

  .scrollable-col {flex: none;}

  .menu-text{display: flex;align-items: center;align-items: baseline;font-size:19px;}

  .thumbnail-title {font-size: 25px;}

/*  .article-col{padding:0px;}*/
  .article {padding: 40px;}
  .article-text-wrapper p{margin-top:10px;}

  body{height:100%;}

}
